@import '../../../../assets/style/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;

  span {
    font-family: $text;
    font-size: $text-size;
  }

  input {
    font-size: $title-size;
  }

  button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    left: 310px;
    bottom: 37px;
    border: none;
    background-color: #fff;
  }
}
